*{
    margin: 0;
    font-family: sans-serif;
}
header{
background-color: rgb(37, 91, 141);
display: flex;

}
header>a{
color: rgb(255, 255, 255);
text-decoration: none;
padding: 16px;
display:inline-block;
font-size:12px;
flex: auto;
}
header>a:hover{
    color: rgb(34, 172, 126);
}